:root {
  --font-base: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --theme-header-background-color: #fafafa;
  --theme-footer-background-color: #fafafa;
  --dev-logo: hsl(210, 8%, 15%);
  --icon: #898989;
}

.dark {
  --theme-content-background-color: #0d1117;
  --theme-header-background-color: hsl(210, 8%, 15%);
  --theme-footer-background-color: hsl(210, 8%, 15%);
  --dev-logo: #686868;
}

body {
  font-family: var(--font-base);
  margin: 0;
  padding: 0;
}

.icon-action {
  cursor: pointer;
}
