@font-face {
  font-family: 'lab';
  src: url('../static/lab.woff2') format('woff2');
}

:root {
  --font-base: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

* {
  transition: all 300ms ease-out;
  box-sizing: border-box;
}

html.dark {
  --theme-content-background-color: #0d1117;
  --theme-header-background-color: hsl(210, 8%, 15%);
  --theme-footer-background-color: hsl(210, 8%, 15%);
  --dev-logo: #d8d8d8;
  --icon: #75757a;
}

html.light {
  --theme-header-background-color: #fafafa;
  --theme-footer-background-color: #fafafa;
  --dev-logo: hsl(210, 8%, 15%);
  --icon: #a5a5ac;
}

body {
  font-family: var(--font-base);
  margin: 0;
  padding: 0;
}

.issues-num {
  font-style: italic;
  font-family: 'lab';
  font-variation-settings: 'size' 30, 'quad' 40, 'bevl' 20, 'oval' 30;
  opacity: 0.6;
  cursor: pointer;
}

.icon-action {
  cursor: pointer;
  user-select: none;
}
